:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-title-text-color: #ffffff;
  --tertiary-title-text-color: #000000;
  --footer-title-text-color: rgba(255, 255, 255, 0.6);
  --footer-icon-color: rgba(255, 255, 255, 0.1);
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --title-bg-color: #2f303a;
  --team-title-bg-color: #f5f4fa;
  --button-hover-color: #188ce8;
  --button-secondary-color: #f5f4fa;
  --border-bg: #eeeeee;
  --header-border-bg: #ececec;
  --social-links-color: #afb1b8;
  --work-list-name-color: rgba(47, 48, 58, 0.8);
  --overlay-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --form-field-text-color: rgba(117, 117, 117, 0.5);
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* -----------Logo---------- */

.header-logo-first {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}

.header-logo-second {
  color: var(--tertiary-title-text-color);
}

/* ---------Navigation-------- */

.main-nav {
  display: flex;
  align-items: center;
}

header {
  border-bottom: 1px solid var(--header-border-bg);
}

header .container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.link.current {
  position: relative;
}

.link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
  fill: currentColor;
}

.auth-nav .item-icon {
  margin-right: 10px;
  fill: currentColor;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

/* -------Hero-------- */

.hero {
  background-color: var(--title-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  color: var(--secondary-title-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* --------Button------- */

.button {
  color: var(--secondary-title-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--button-hover-color);
}

/* --------Feature--------- */

.feature-list {
  display: flex;
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--team-title-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
}

.feature-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* --------Work--------- */

.work-section {
  padding-top: 0;
}

.work-list {
  display: flex;
}

.work-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.work-list .item {
  position: relative;

  margin-right: 30px;
}

.work-list-name {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;
  padding: 27px 80px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  background-color: var(--work-list-name-color);
}

/* -------------Team----------------- */

.team {
  background-color: var(--team-title-bg-color);
}

.team-list {
  display: flex;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-list .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .info-block {
  padding-top: 30px;
  padding-bottom: 16px;
  background-color: var(--primary-bg-color);
}

.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}

.team-list .position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
}

.position-soc-list {
  background-color: var(--primary-bg-color);
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
}

.position-soc-link {
  width: 44px;
  height: 44px;
  background-color: var(--secondary-title-text-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--social-links-color);

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.position-soc-item:not(:last-child) {
  margin-right: 10px;
}

.position-soc-link:hover,
.position-soc-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-bg-color);
}

/* --------------------Clients----------------------- */

.clients-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 6 - 25px);
  height: 92px;
  border: 1px solid var(--social-links-color);
  border-radius: 4px;

  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:hover,
.clients-item:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.clients-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--social-links-color);
  fill: var(--social-links-color);

  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.clients-icon {
  width: 106px;
  height: 60px;
}

.backdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms linear;

  width: 528px;
  height: 581px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -100%);
}

.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid var(--primary-text-color);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--button-hover-color);
}

.backdrop-close-icon {
  display: block;
  left: 0px;
  top: 0px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  padding-top: 2px;
  padding-bottom: 12px;
}

.modal-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field:not(:last-of-type) {
  margin-bottom: 10px;
}

.form-field:last-of-type {
  margin-bottom: 20px;
}

.form-input-group {
  position: relative;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .form-icon {
  fill: var(--accent-color);
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.form-textarea {
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--form-field-text-color);
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  cursor: pointer;
  outline: none;
}

.form-textarea:focus {
  border: 1px solid var(--accent-color);
}

.form-textarea::placeholder {
  color: var(--form-field-text-color);
}

.checkbox-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.checkbox-link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: 0;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--button-hover-color);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox:checked + .icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.label-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --------------------Footer----------------- */

footer {
  background-color: var(--title-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-block-logo {
  margin-right: 70px;
}

.footer-block-soc-link {
  margin-right: 93px;
}

.footer-logo-first {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  display: inline-block;
  margin-bottom: 20px;
}

.footer-logo-second {
  color: var(--secondary-title-text-color);
}

.address {
  color: var(--secondary-title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.footer-address .link {
  color: var(--footer-title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address .link:hover,
.list .link:focus {
  color: var(--accent-color);
}

.footer-soc-link {
  color: var(--secondary-title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 20px;
}

.footer-item-list {
  display: flex;
}

.footer-item-soc {
  padding: 12px;
  background-color: var(--footer-icon-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item-soc:hover,
.footer-item-soc:focus {
  background-color: var(--accent-color);
}

.footer-item-soc:not(:last-child) {
  margin-right: 10px;
}

.fotter-soc-icon {
  fill: var(--primary-bg-color);
  display: block;
}

.footer-title-email {
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 20px;
}

.footer-block-email {
  display: flex;
}

.footer-input {
  color: var(--footer-title-text-color);
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--title-bg-color);
  padding-left: 16px;
  margin-right: 12px;
  outline: none;

  transition-property: box-shadow, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover,
.footer-input:focus {
  border-color: var(--accent-color);
}

.footer-btn {
  display: flex;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-btn-icon {
  margin-left: 10px;
}

/* ------Portfolio filter ------*/

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  color: var(--title-text-color);
  background-color: var(--button-secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  font-family: inherit;
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button.active {
  color: var(--secondary-title-text-color);
  background-color: var(--accent-color);
}

.filter-button:hover,
.filter-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ------Portfolio project------ */

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-list .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list .item:hover,
.project-list .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list .item:nth-child(3n) {
  margin-right: 0;
}
.project-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-list .project-info-block {
  border: 1px solid var(--border-bg);
  border-top-color: transparent;
  padding: 20px 24px;
}

.project-list .name {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-list .description {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}

.project-picture-block {
  position: relative;
  overflow: hidden;
}

.project-picture-overlay {
  position: absolute;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: var(--overlay-color);
}

.project-overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-bg-color);
}

.project-list .item:hover .project-picture-overlay {
  transform: translateY(0);
}
